<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Фильм</title>
</head>
<body>
<a href="/movies"> Смотреть все фильмы</a>
<label>
<h1> Номер фильма в картотеке ${movie.id}</h1>
</label>
<h1> название фильма - ${movie.moviesName}</h1>
<h2> Описание: ${movie.description}</h2>
<h3>В главных ролях: ${movie.mainActor}</h3>
</body>

</html>